.blogposts {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0;
    gap: 25px;
    line-height: normal;
}

.header-container {
    margin-bottom: 50px;
}

.blog-meta {
    color: #777777;
    line-height: 18px;
    font-weight: 500;
    font-size: 18px;
}

.blog-header {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 10px;
}

.blogposts a {
    color: var(--text-color);
    text-decoration: none; /* Optional: remove underline */
}

.blogposts time {
    padding: 0;
    margin: 0;
}

/* Loading placeholder styles */
.loading-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.5em; /* Adjust font size as needed */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.meta p {
    color: var(--meta-color);
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
}

.articleclass {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 380px;
    min-width: 220px;
    max-height: 485px;
    min-height: 450px;
    padding: 22px;
    transition: all .2s ease-in-out;
    border: 1px solid black;
}

.articleclass:hover {
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

.articleclass h4 {
    padding: 0;
    margin: 0;
    line-height: 38px;
    font-size: 26px;
    font-weight: 700;
    text-align: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Sets exactly three lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if text exceeds three lines */
    height: calc(1em * 1.5 * 3); /* Assuming line height is 1.5, adjust if needed */
}

.blogposts img {
    
    display: flex;
    max-width:100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover; 
    align-self: flex-end;
}

.blog img {
    max-width: 100%; /* Ensure the image doesn't exceed container width */
    height: auto;    /* Maintain aspect ratio */
    width: auto;    /* Set the image width to 300px */
    margin: 20px auto;
}



.search-container {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    margin-right: 8px;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.search-input {
    width: 295px;
    padding: 8px;
    border: 3px solid var(--search-bar-border-color);
    border-radius: 8px;
    font-size: 16px;
    color: var(--search-bar-font-color);
    background-color: var(--search-bar-background-color);
}

.search-button {
    padding: 10px 12px;
    margin-left: 8px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #000000;
}


@media only screen and (max-width: 768px) {

.blogposts {
    margin: 0;
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
}

.articleclass {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 18px;
    border-radius: 10px;
    max-height: 1000px;
}

.search-container {
    display: flex;
    align-items: flex-end;
    margin: 5px;
    margin-right: 8px;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.search-input {
    width: 400px;
    padding: 5px;
    border: 3px solid var(--search-bar-border-color);
    border-radius: 8px;
    font-size: 18px;
    color: var(--search-bar-font-color);
    background-color: var(--search-bar-background-color);
}

.meta {
    font-size: 10px;
}

.articleclass h4 {
    padding: 0;
    margin: 0;
    line-height: 38px;
    font-size: 28px;
    font-weight: 900;
    text-align: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Sets exactly three lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if text exceeds three lines */
    height: calc(1em * 1.5 * 3);
    /* font-family: "Gelasio", serif; */
}

.blogposts img {
    max-width: 100%;
    width: 100vw;
}

.search-container {
    margin-bottom: 10px;
}

 }