div.logotext {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  font-family: Anonymous Pro;
  margin-left: 20px;
}

.iconclass.rotate {
  transform: rotate(360deg) !important;  /* Rotates the icon by 360 degrees */
}

.navbar {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    max-width: 75%;
    border: 1px solid rgb(188, 188, 188);
    border-bottom: none;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 0;
}

/* Hide the icon on desktop/tablet */
.nav-icon {
  display: none !important; /* Force hide the icon by default */
}

.nav-text {
  font-size: 18px; /* Adjust text size */
  margin-left: 10px; /* Space between icon and text */
  font-weight: 600;
  color: #8f8f8f;
}
  
.navbar-links {
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar-links li {
  padding: 5px 0.5vw;
  margin: 0;
}

.nav-text:hover {
  color: black;
}

.navbar-links li.selected .nav-text {
  color: #000; /* Black color for selected item */
}

.navbar-links a {
  text-decoration: none; /* Optional: remove underline */
}

.mobile-icon {
  display: none;
}

.theme-text {
  color: white;
}

.bottombar {
  display: none !important;
}

@media only screen and (max-width: 1500px) {

  div.logotext {
    margin-left: 5vw;
  }

  .iconclass {
    margin: 10px 2vw 5px;
  }

  .navbar-links {
    margin-right: 1vw;
  }

  .pc-icon {
    margin-right: 3vw;
  }

}

@media only screen and (max-width: 1320px) {

  div.logotext {
    margin-left: 0vw;
  }

  .iconclass {
    margin: 10px 2vw 5px;
  }

  .navbar-links {
    margin-right: 0vw;
  }

  .pc-icon {
    margin-right: 1vw;
  }

}

@media only screen and (max-width: 768px) {

  .navbar {
    width: 100%;
    padding: 18px;
    padding-top: 8px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 14px;
  }

  div.logotext {
    justify-content: left;
    font-size: 22px;
    padding: 0px 0px 10px 0px;
    margin: 0;
    width: 50%;
    font-weight: 600;
  }
  
  .navbar-links {
    justify-content: space-around;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Adjust the padding as needed */
    z-index: 1000; /* Ensure it's above other content */
    box-sizing: border-box;
    background-color: var(--nav-bar-back-color);
  }

  .navbar-links li {
    margin: 0; /* Ensures there's no margin around list items */
    margin-top: 5px;
    padding: 2 2vw;
    font-weight: 500;
  }

  .navbar-links li:hover {
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }

  .selected {
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }

  .pc-icon {
    display: none;
  }

  .mobile-icon {
    display: inline-flex;
    justify-content: left;
    margin: 10px 0 28px auto;
  }

  hr {
    border: 0.5px solid;
    max-width: 90%;
    margin: 15px auto 0 auto;
  }

  .logo-container {
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center; /* Center the items horizontally */
    justify-content: center;
    height: 24px; /* Center the items vertically */
  }

  /* Show the icon on mobile */
  .nav-icon {
    display: block !important; /* Show the icon on mobile */
    font-size: 27px !important; /* Adjust icon size for mobile */
  }

  .nav-text {
    font-size: 12px; /* Adjust text size for mobile */
    margin-left: 0; /* Remove margin since the items are stacked vertically */
    margin-top: 3px; /* Space between icon and text */
    font-family: "Bricolage Grotesque", sans-serif;
  }

  .bottombar {
    display: block !important;
  }

}