div.logotext {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  font-family: Anonymous Pro;
  margin-left: 20px;
}

.iconclass.rotate {
  transform: rotate(360deg) !important;  /* Rotates the icon by 360 degrees */
}

.navbar {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    max-width: 75%;
    border: 1px solid rgb(188, 188, 188);
    border-bottom: none;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 0;
}

/* Hide the icon on desktop/tablet */
.nav-icon {
  display: none !important; /* Force hide the icon by default */
}

.nav-text {
  font-size: 18px; /* Adjust text size */
  margin-left: 10px; /* Space between icon and text */
  font-weight: 600;
  color: #8f8f8f;
}
  
.navbar-links {
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar-links li {
  padding: 5px 0.5vw;
  margin: 0;
}

.nav-text:hover {
  color: black;
}

.navbar-links li.selected .nav-text {
  color: #000; /* Black color for selected item */
}

.navbar-links a {
  text-decoration: none; /* Optional: remove underline */
}

.mobile-icon {
  display: none;
}

.theme-text {
  color: white;
}

.bottombar {
  display: none !important;
}

@media only screen and (max-width: 1500px) {

  div.logotext {
    margin-left: 2vw;
  }

  .iconclass {
    margin: 10px 2vw 5px;
  }

  .navbar-links {
    margin-right: 1vw;
  }

  .pc-icon {
    margin-right: 3vw;
  }

  .navbar {
    max-width: 85%;
  }

}

@media only screen and (max-width: 1320px) {

  div.logotext {
    margin-left: 0vw;
  }

  .navbar-links {
    margin-right: 0vw;
  }

  .navbar {
    display: flex;
    font-size: 18px;
    max-width: 85%;
    padding: 20px;
  }

}

@media only screen and (max-width: 1000px) {

  .nav-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {

  .navbar {
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 14px;
    max-width: 100%;
  }

  div.logotext {
    font-size: 22px;
  }

  .nav-text {
    font-size: 16px;
    padding: auto;
  }

}