div.logotext {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  padding: 15px; /* Padding around the logo text */
  margin-left: 15vw;
}

.iconclass {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px 5vw 5px;
  cursor: pointer;
  transition: transform 0.3s ease !important;
  color:rgb(204, 255, 204);
}

.iconclass.rotate {
  transform: rotate(360deg) !important;  /* Rotates the icon by 360 degrees */
}

hr {
  border: 1px solid;
  max-width: 1200px;
  margin: 20px auto;
  text-align: 'center';
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 15px 0px 0px auto;
    margin-top: 0%;
    font-size: 16px;
    font-weight: 700;
    max-width: 100%;
    width: 100%;
    background-color: #000000;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-right: 1vw;
  }

  .navbar-links li {
    padding: 5px 1vw;
    margin: 0;
  }

  .navbar-links li:hover {
    text-decoration: #8f8f8f underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;
    color: blue;
  }

  .selected {
    /* border-bottom: 2px solid; */
    text-decoration: #656565 underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;
    color: blue;
  }

  .navbar-links a {
    color: var(--text-color);
    text-decoration: none; /* Optional: remove underline */
    color: aliceblue;
  }

  .pc-icon {
    margin-right: 5vw;
  }

  .mobile-icon {
    display: none;
  }

  .theme-text {
    color: white;
  }

  @media only screen and (max-width: 1500px) {

    div.logotext {
      margin-left: 5vw;
    }

    .iconclass {
      margin: 10px 2vw 5px;
    }

    .navbar-links {
      margin-right: 1vw;
    }

    .pc-icon {
      margin-right: 3vw;
    }

  }

  @media only screen and (max-width: 1320px) {

    div.logotext {
      margin-left: 0vw;
    }

    .iconclass {
      margin: 10px 2vw 5px;
    }

    .navbar-links {
      margin-right: 0vw;
    }

    .pc-icon {
      margin-right: 1vw;
    }

  }

  @media only screen and (max-width: 768px) {

    .navbar {
      width: 100%;
      padding: 18px;
      padding-top: 8px;
      flex-wrap: wrap;
      justify-content: left;
      font-weight: 300;
      font-size: 14px;
    }

    div.logotext {
      justify-content: left;
      font-size: 22px;
      padding: 0px 0px 10px 0px;
      margin: 0;
      width: 50%;
      font-weight: 600;
    }
    
    .navbar-links {
      justify-content: space-between;
      width: 100%;
      margin: 0;
    }

    .navbar-links li {
      margin: 0; /* Ensures there's no margin around list items */
      padding: 2 2vw;
      font-weight: 600;
    }

    .navbar-links li:hover {
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
    }
  
    .selected {
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
    }

    .pc-icon {
      display: none;
    }

    .mobile-icon {
      display: inline-flex;
      justify-content: left;
      margin: 10px 0 28px auto;
    }

    hr {
      border: 0.5px solid;
      max-width: 90%;
      margin: 15px auto 0 auto;
    }
  
  }