div.pages-custom {
  margin: auto;
  font-size: 17px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: normal;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
  min-height: 100vh; /* Ensures content takes full viewport height */
  padding-bottom: 50px; /* Match this with the navbar height */
  box-sizing: border-box;
}

div.pages-custom h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  line-height: 50px;
  margin-top: auto 10vw;
  text-align: end;
}

.welcome {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 25vh;
  font-size: 40px;
  line-height: 50px;
  margin-top: 40px;
}

.welcome h1 {
  font-size: 55px;
  margin-bottom: 0px;
}

.map-style {
  width: 100%; /* Full width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome a {
  align-self: auto;
  font-size: 30px;
  line-height: normal;
}

.master-blog h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 48px;
  line-height: 58px;
}

.home-head {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.home-head h1 {
  margin-top: 0%;
}

.master-blog p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 33px;
}

.responsive-image {
  width: 100px;
}

.post-class {
  list-style: none;
}

.master-blog {
  margin: 0 auto;
  padding: 25px;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: normal;
  max-width: 1000px;
  width: 100%;
}

.footer-custom {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.footer-text {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 30px;
}

.footer-terms {
  margin: 10px;
  margin-top: 0;
}

.footer-logo {
  margin: 10px;
}

.foticon {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  div.pages-custom {
    margin: 0;
    padding: auto; /* Adjust as needed */
    max-width: 100%;
    padding: 20px;
    padding-top: 0;
  }

  div.pages-custom h1 {
    font-size: 40px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: start;
  }

  .welcome a {
    font-size: 20px;
  }

  .home-head {
    font-size: 36px;
    line-height: 40px;
  }

  .master-blog {
    display: block;
    justify-content: center;
    margin-top: 0;
    padding: 20px;
    padding-top: 5px;
  }

  .master-blog h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .master-blog p {
    font-size: 18px;
    line-height: 30px;
  }

  div.pages-custom h3 {
    display: none;
  }

  .footer-custom {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    font-size: small;
    font-weight: 300;
  }
  
  .footer-text {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 30px;
  }
  
  .footer-terms {
    margin: 10px;
    margin-top: 0;
  }
  
  .footer-logo {
    margin: 0px;
    margin-right: 10px;
  }
  
  .foticon {
    margin: 10px;
  }
}