/* Material Design 3 Card */
.m3-card {
    position: relative;
    border: none;
    border-radius: 24px !important; /* Added !important to ensure it overrides other styles */
    background-color: #ffffff; /* Light mode background */
    transition: box-shadow 0.2s, transform 0.2s;
    overflow: hidden;
    padding: 16px; /* Consistent padding */
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-family: "Darker Grotesque", serif;
  }
  
  /* Dark Mode Styling */
  body:not(.light-theme) .m3-card {
    background-color: #282828; /* Dark mode background */
    color: #ffffff;
  }

  .welcome-img {
    filter: brightness(95%);
  }

  body:not(.light-theme) .welcome-img {
    filter: brightness(70%);
  }

  .btn-primary {
    margin: 20px;
  }

  .m3-card {
    background-color: #ababab; /* Dark mode background */
  }

  body.light-theme .card-body {
    background-color: #f6f6f6 !important;
  }

  body.light-theme .card {
    background-color: #f6f6f6 !important;
    border: none;
  }
  
  /* Hover effect */
  .m3-card:hover {
    transform: translateY(-2px);
  }
  
  /* Mouse-Pointed Lighten Effect */
  .m3-card::after {
    content: "";
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    width: 300px; /* Set the size of the effect */
    height: 300px; /* Set the size of the effect */
    background: rgba(255, 255, 255, 0.4); /* Lightening color */
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0); /* Center the effect at the pointer */
    transition: transform 0.4s ease, background 0.4s ease;
    z-index: 0; /* Ensure the effect is on top of the card but below the content */
  }
  
  /* Ensure the content stays above the effect */
  .m3-card-body {
    position: relative;
    z-index: 1; /* Ensure text content is above the effect */
  }
  
  /* Adjust position of light effect based on mouse position */
  .m3-card:hover {
    overflow: hidden;
  }
  
  .m3-card {
    transition: transform 0.2s ease;
  }
  