.navbar {
    background-color: #121212; /* Dark background */
}

.navbar .nav-link {
    color: #888888 !important; /* Light text color */
}

.navbar .nav-link.active {
    color: #ffffff !important; /* Gold color for active links */
}

.navbar .navbar-brand img {
    width: 100px; /* Adjust logo size */
}

/* Align navbar links to the right */
.navbar-nav {
    margin-left: auto; /* Push items to the right */
}

.navbar-nav .nav-item {
    margin-left: 20px; /* Optional: Add space between the nav items */
}
