/* Default dark theme */
:root {
  --background-color: #121212 !important;
  --text-color: #ffffff !important;
  --link-color: #1e90ff !important;
  --card-background: #282828 !important;
  --transition-duration: 0.3s !important;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: background-color var(--transition-duration), color var(--transition-duration) !important;
}

/* Light theme */
body.light-theme {
  --background-color: #ffffff !important;
  --text-color: #000000 !important;
  --link-color: #1e90ff !important;
  --card-background: #f4f4f4 !important;
}
