/* Default dark theme */
:root {
  --background-color: #1d1d1d;
  --text-color: #ffffff;
  --link-color: #1e90ff;
  --card-background: #2d2d2d;
  --transition-duration: 0.3s;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none !important; /* Remove underline by default */
}

a:hover {
  text-decoration: none !important; /* Remove underline on hover */
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: background-color var(--transition-duration), color var(--transition-duration) !important;
}

/* Light theme */
body.light-theme {
  --background-color: #F5F5F5 !important;
  --text-color: #000000 !important;
  --link-color: #1e90ff !important;
  --card-background: #d5d5d5 !important;
}
