/* Default light theme (set in :root) */

@import "ol/ol.css";

:root {
  --background-color: #F8F9FA;
  --text-color: #343A40;
  --card-bg: rgb(237, 237, 237);
  --link-color: #323232de; /* Define default link color */
  --meta-color: #7d7d7d;
  --search-bar-background-color: #ffffff;
  --search-bar-border-color: #c6c6c6;
  --search-bar-font-color: #000000;
  --nav-bar-back-color: #f0f0f0;
  overflow-y: scroll;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", serif;
  font-weight: 500;
}

/* Ensure links use the correct theme color */
a {
  color: var(--link-color);
  font-family: "Open Sans", serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", serif;
  font-weight: 500;
}

h1 {
  font-family: "PT Sans Narrow", serif;
}

h2 {
  font-family: "PT Sans Narrow", serif;
}

h3 {
  font-family: "PT Sans Narrow", serif;
}

h4 {
  font-family: "PT Sans Narrow", serif;
}


#root {
  width: 100%;
  margin: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}
